@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <h1 class="display-4">
            <table>
                <tr>
                    <th>
                        <h2 class="PageTitle" style="font-size:4rem"><strong>The Cookbook App</strong></h2>
                    </th>
                    <th>
                        
                        <div class="topnav"></div>
                        <input type="text" placeholder="Search Your Recipes"
                    </th>
                    <th>
                        <nav style="font-size:2.5rem">
                            <a href="/Account/">Account</a>
                            <a href="/Sign Out/">SignOut</a>
                            <a href="/Support/">Support</a>
                        </nav>
                    </th>
                </tr>
            </table>
            <tr>

    </h1>

    <p>Learn how to <a href="/capture a recipe/">capture a recipe</a> with a few simple clicks!</p>
</div>
<body>
    <table border="1" cellspacing="1" bordercolor="#0366d6" style="width:33%">
        <thead><strong><a href="/Your Top Recipes/">Your Top Recipes</a></strong></thead>
        <tr>
            <th>Recipe</th>
            <th>Tags</th>

        </tr>
        <tr>
            <td>Chile Verde</td>
            <td>"Mexican"</td>
            <td>"Long Cook Time"</td>
        </tr>
        <tr>
            <td>Shrimp and Parmesan Grits W/ Onion Gravy</td>
            <td>"Short Cook Time"</td>
            <td>"Gluten Free"</td>
        </tr>
    </table>
    <table border="1" cellspacing="1" bordercolor="#0366d6" style="width:33%">
        <thead><strong><a href="/Your Newest Recipes/">Your Newest Recipes</a></strong></thead>
        <tr>
            <th>Recipe</th>
            <th>Date Added</th>
            <th>Tags</th>
        </tr>
        <tr>
            <td>Spaghetti Squash Chicken Alfredo</td>
            <td>09/01/2020</td>
            <td>"High Effort"</td>
        </tr>
    </table>
    <table border="1" cellspacing="1" bordercolor="#0366d6" style="width:33%">
        <thead><strong><a href="/Your Top Tags/">Your Top Tags</a></strong></thead>
        <tr>
            <th>Tags</th>
            <th>Tags</th>
        </tr>
        <tr>
            <td>"Mexican"</td>
            <td>"Easy to Make"</td>
        </tr>
    </table>
</body>
